In [6]:
import pandas as pd
df = pd.read_csv("steam-200k.csv", names= ["UserId", "Game", "Activity", "Value", "Unused"])
df[df["Game"] == "Spore"].head()

          UserId   Game  Activity  Value  Unused
4      151603712  Spore  purchase    1.0       0
5      151603712  Spore      play   14.9       0
415     53875128  Spore  purchase    1.0       0
416     53875128  Spore      play    0.5       0
11663  181608676  Spore  purchase    1.0       0

In [8]:
df["Value"].sum

<bound method Series.sum of 0           1.0
1         273.0
2           1.0
3          87.0
4           1.0
          ...
199995      1.5
199996      1.0
199997      1.5
199998      1.0
199999      1.4
Name: Value, Length: 200000, dtype: float64>